# Java
target/
*.class

# Node
node_modules/
dist/
build/

# IDE
.idea/
.vscode/

# Environment
.env
.env.*

# Logs
*.log


# OS
Thumbs.db
.DS_Store

# Spring Boot
backend/target/

# React
frontend/node_modules/

storage/
backend/login.json
backend/property.json
backend/mvn
